## Task 4.9 Part 1

### This script contains the following points:
#### 03. Import your analysis libraries, as well as your new customer data set as a dataframe.
#### 04. Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.
#### 05. Complete the fundamental data quality and consistency checks, for example, check for and address missing values and duplicates, and convert any mixed-type data.
#### 06. Combine your customer data with the rest of your prepared Instacart data. Tip: Make sure the key columns are of the same data type!
#### 08. Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.

### 03. Import your analysis libraries, as well as your new customer data set as a dataframe.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'/Users/schitchards/Documents/Data Analytics/Programming/Instacart Basket Analysis'

In [3]:
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'),index_col = False)

### 04. Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

In [4]:
df_customers.head(100)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...,...,...
95,86389,Stephen,Murillo,Male,Vermont,69,1/1/2017,3,married,66800
96,102956,Kathy,Mitchell,Female,Missouri,78,1/1/2017,1,married,96314
97,180919,Jacqueline,Roach,Female,Nebraska,21,1/1/2017,3,living with parents and siblings,56831
98,74155,Karen,Berg,Female,Alabama,33,1/1/2017,3,married,95285
99,96166,NaN,Oconnor,Male,Oklahoma,51,1/1/2017,1,married,155673

Keeping all columns as they could be on importance to analysis. Creating a data dictionary is not necessary as all values have clear meanings.

In [5]:
# Find Missing Values
df_customers.isnull().sum()

user_id             0
First Name      11259
Surnam              0
Gender              0
STATE               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

Leaving missing values as the values are not of value to the analysis

In [6]:
df_customers = df_customers.rename(columns = {'First Name':'first_name','Surnam':'last_name','Gender':'gender','STATE':'state','Age':'age','n_dependants':'number_of_dependants','fam_status':'family_status',})

In [7]:
# Show information on dataframe
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   user_id               206209 non-null  int64
 1   first_name            194950 non-null  object
 2   last_name             206209 non-null  object
 3   gender                206209 non-null  object
 4   state                 206209 non-null  object
 5   age                   206209 non-null  int64
 6   date_joined           206209 non-null  object
 7   number_of_dependants  206209 non-null  int64
 8   family_status         206209 non-null  object
 9   income                206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [8]:
#Change user_id column Dtype to object as they dont represent real numeric values
df_customers ['user_id'] = df_customers['user_id'].astype('str')

### 05. Complete the fundamental data quality and consistency checks, for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [9]:
# Check number values stats to look for irregularities
df_customers.describe()

                 age  number_of_dependants         income
count  206209.000000         206209.000000  206209.000000
mean       49.501646              1.499823   94632.852548
std        18.480962              1.118433   42473.786988
min        18.000000              0.000000   25903.000000
25%        33.000000              0.000000   59874.000000
50%        49.000000              1.000000   93547.000000
75%        66.000000              3.000000  124244.000000
max        81.000000              3.000000  593901.000000

Columns look to contain accurate data

In [10]:
# Check for mixed-type columns
for col in df_customers.columns.tolist():
    weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)). any (axis = 1)
    if len (df_customers[weird]) >0:
        print(col)

first_name

In [11]:
# Change First Name column to object
df_customers['first_name'] = df_customers['first_name'].astype('str')

In [12]:
# Find Missing Values
df_customers.isnull().sum()

user_id                 0
first_name              0
last_name               0
gender                  0
state                   0
age                     0
date_joined             0
number_of_dependants    0
family_status           0
income                  0
dtype: int64

Missing values addressed in question 4.

In [13]:
# Check for duplicates
df_dups = df_customers[df_customers.duplicated()]

In [14]:
df_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, number_of_dependants, family_status, income]
Index: []

No duplicate rows found

### 06. Combine your customer data with the rest of your prepared Instacart data. Tip: Make sure the key columns are of the same data type!

In [15]:
#Import prepared data orders_flags
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_flags.pkl'))

In [16]:
# Check df_customers shape
df_customers.shape

(206209, 10)

In [17]:
df['prices'].max()

25.0

In [18]:
# Check prepared dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                   Dtype
---  ------                   -----
 0   order_id                 int64
 1   user_id                  int64
 2   order_number             int64
 3   orders_day_of_week       int64
 4   order_hour_of_day        int64
 5   days_since_prior_order   float64
 6   active                   bool
 7   product_id               int64
 8   add_to_cart_order        int64
 9   reordered                int64
 10  product_name             object
 11  aisle_id                 int64
 12  department_id            int64
 13  prices                   float64
 14  price_range_loc          object
 15  busiest_day              object
 16  busiest_days             object
 17  busiest_period_of_day    object
 18  max_order                int64
 19  loyalty_flag             object
 20  mean_prices              float64
 21  spending_flag            object
 22  median_days_since_order  float64
 23  order_frequency_flag     object
dtypes: bool(1), float64(4), int64(11), object(8)
memory usage: 5.8+ GB

In [19]:
# Merge data because dataframe shapes dont match but they have a common identifier user_id
## Change data types for ID columns
df = df.astype({'order_id':'str','user_id':'str','product_id':'str','aisle_id':'str','department_id':'str'})

In [20]:
# Check output of column datatype changes
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                   Dtype
---  ------                   -----
 0   order_id                 object
 1   user_id                  object
 2   order_number             int64
 3   orders_day_of_week       int64
 4   order_hour_of_day        int64
 5   days_since_prior_order   float64
 6   active                   bool
 7   product_id               object
 8   add_to_cart_order        int64
 9   reordered                int64
 10  product_name             object
 11  aisle_id                 object
 12  department_id            object
 13  prices                   float64
 14  price_range_loc          object
 15  busiest_day              object
 16  busiest_days             object
 17  busiest_period_of_day    object
 18  max_order                int64
 19  loyalty_flag             object
 20  mean_prices              float64
 21  spending_flag            object
 22  median_days_since_order  float64
 23  order_frequency_flag     object
dtypes: bool(1), float64(4), int64(6), object(13)
memory usage: 5.8+ GB

In [21]:
# Check data quality of orders_flags_no_nan dataframe
df.describe()

,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,prices,max_order,mean_prices,median_days_since_order
count,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.239973e+07,3.240486e+07,3.240486e+07,3.240485e+07
mean,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,8.352547e+00,5.895873e-01,7.790994e+00,3.305217e+01,7.790996e+00,1.039776e+01
std,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,7.127071e+00,4.919087e-01,4.241809e+00,2.515525e+01,7.348183e-01,7.131754e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,3.000000e+00,0.000000e+00,4.200000e+00,1.300000e+01,7.378488e+00,6.000000e+00
50%,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,6.000000e+00,1.000000e+00,7.400000e+00,2.600000e+01,7.811940e+00,8.000000e+00
75%,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,1.100000e+01,1.000000e+00,1.130000e+01,4.700000e+01,8.229328e+00,1.300000e+01
max,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,1.450000e+02,1.000000e+00,2.500000e+01,9.900000e+01,2.320000e+01,3.000000e+01

In [22]:
# left merge customer dataframe with prepared dataframe
df_merged = df.merge(df_customers, on='user_id', how='left')

In [23]:
# Check shape of merged dataframe
df_merged.shape

(32404859, 33)

In [25]:
# Export dataframe in pickle format
df_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data','customer_merged.pkl'))